.circle {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--w100);
    width: var(--w100);
    clip-path: circle(var(--w600px) at right 800px);
    background: var(--secundary_color);
}