.menu {
    display: flex;
    align-items: center;
}

.menu a {
    padding: 8px 16px;
    transition: .5s;
    font-size: 1em;
    color: var(--tertiary_color);
}
.menu a:not(:last-child){
    margin-right: 5px;
}

.menu a:hover {
    color: var(--secundary_color);
}