.thumb {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    transition: .5s;
    margin: 0 20px;
    cursor: pointer;
}

.thumb img {max-width: 60px;}

.thumb li:hover {transform: translateY(-15px);}